<%layout('layouts/boilerplate')%>
<div id="cluster-map"></div>
<h1>All Campgrounds
    <button id="show-nearest-btn" class="btn btn-info">Show Nearest to Me</button>
</h1>
<% for(let campground of campgrounds){ %>
    <div class="card text-white bg-dark mb-3" id="campinfo">
        <div class="row">
            <div class="col-md-4" id="campgroundhomeimage">
                <% if(campground.images.length) {%>
                <img crossorigin="anonymous" id="indeximg" alt="" src="<%= campground.images[0].url %>">
                <% }else { %>
                    <img crossorigin="anonymous" class="img-fluid" src="https://res-console.cloudinary.com/dgr21eiov/media_explorer_thumbnails/149d48129829d71b6f4ffd8347709f20/detailed" alt="">
                <% } %>
            </div>
            <div class="col-md-8" >
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title  %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small id="infolocation"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%=campground._id  %>" class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<a href="#" class="to-top  bg-primary rounded-circle">
    <div class="arrow">
        <img src="/icons/arrow-upp.png" alt="arrow">
    </div>
</a>
    

<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> };
    document.getElementById('show-nearest-btn').addEventListener('click', () => {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
            const userLat = position.coords.latitude;
            const userLon = position.coords.longitude;
            // Redirect to the /campgrounds/nearest route with lat and lng as query parameters
            window.location.href = `/campgrounds/nearest?lat=${userLat}&lng=${userLon}`;
        });
    } else {
        alert("Geolocation is not supported by this browser.");
    }
});

const toTop = document.querySelector(".to-top");

window.addEventListener("scroll", () => {
  if (window.pageYOffset > 100) {
    toTop.classList.add("active");
  } else {
    toTop.classList.remove("active");
  }
})

</script>


<script src="/javascripts/clusterMap.js"></script>
