<% layout('layouts/boilerplate') %>
    <div id="cluster-map"></div>
    <h1>All Campgrounds</h1>

    <link rel="stylesheet" href="stylesheets/searchCampground.css">

    <div class="controls-container">
        <!-- Search Form -->
        <form action="/campgrounds/search" method="GET" class="form-inline my-2 my-lg-0" id="search-form">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Search for campsites..." aria-label="Search"
                    name="q" id="search-input">
                <div class="input-group-append">
                    <button class="btn btn-info" type="submit" id="search-button">Search</button>
                </div>
            </div>
        </form>

        <!-- Sort Controls -->
        <div class="sort-controls">
            <button id="show-nearest-btn" class="btn btn-info">Show Nearest to Me</button>
            <form action="/campgrounds" method="GET" class="d-inline">
                <select name="sort" id="sort" class="btn btn-secondary">
                    <option value="">--Select--</option>
                    <option value="priceAsc" <%=(locals.query && query.sort==='priceAsc' ) ? 'selected' : '' %>>Price:
                        Low
                        to High</option>
                    <option value="priceDesc" <%=(locals.query && query.sort==='priceDesc' ) ? 'selected' : '' %>>Price:
                        High to Low</option>
                    <option value="reviewsHighest" <%=(locals.query && query.sort==='reviewsHighest' ) ? 'selected' : ''
                        %>
                        >Reviews: Highest Rated</option>
                    <option value="reviewsLowest" <%=(locals.query && query.sort==='reviewsLowest' ) ? 'selected' : ''
                        %>
                        >Reviews: Lowest Rated</option>
                </select>
                <button type="submit" class="btn btn-primary">Sort</button>
            </form>
        </div>
    </div>

    <div class="campgrounds-grid">
        <% for(let campground of campgrounds){ %>
            <div class="card text-white bg-dark" id="campinfo">
                <div id="campgroundhomeimage">
                    <% if(campground.images.length) { %>
                        <img id="indeximg" alt="" src="<%= campground.images[0].url %>" crossorigin="anonymous">
                        <% } else { %>
                            <img class="img-fluid"
                                src="https://res-console.cloudinary.com/dgr21eiov/media_explorer_thumbnails/149d48129829d71b6f4ffd8347709f20/detailed"
                                alt="" crossorigin="anonymous">
                            <% } %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <small id="infolocation">
                        <%= campground.location %>
                    </small>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %>
                    </a>
                </div>
            </div>
            <% } %>
    </div>