<%layout('layouts/boilerplate')%>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<% for(let campground of campgrounds){ %>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length) {%>
                <img class="img-fluid" alt="" src="<%= campground.images[0].url %>">
                <% }else { %>
                    <img src="https://res-console.cloudinary.com/dgr21eiov/media_explorer_thumbnails/149d48129829d71b6f4ffd8347709f20/detailed" alt="">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=campground.title  %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a href="/campgrounds/<%=campground._id  %>" class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>
